.navigation {
    // .navigation__list

    &__list {
        display: none;
    }

    // .navigation__item

    &__item {
    }

    // .navigation__link

    &__link {
    }

    // .navigation__button

    &__button {
        display: block;
        width: 36px;
        height: 36px;
        background: url(../img/burger-menu.svg) center/contain;

        @include lg {
            width: 50px;
            height: 50px;
        }

        &_active {
            background-image: url(../img/close.svg);
        }
    }
}
